<footer class="full-row">
	<div class="py-70 text-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<a href="/">
						<img class="logo-bottom" src="images/logo/2.png" alt="Image not found!"></a>
						<div class="widget widget-text">
							<div class="widget-content">
								<p>Welcome to CrownEdge Cleaning—Manchester’s premier choice for spotless spaces and professional care. Established in 2024, our journey began with a clear mission: to deliver exceptional cleaning services that not only meet but consistently exceed expectations.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="footer-widget">
						<div class="widget quick-link">
							<h4 class="widget-title text-white">Quick Links</h4>
							<div class="widget-content">	
								<ul class="text-gray-a">
									<li><a href="/">Home</a>
									</li>
									<li><a href="/about">About Us</a>
									</li>
									<li><a href="/portfolio">Portfolio</a>
									</li>
									<li><a href="/contact">Contact</a>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="footer-widget">
						<div class="widget quick-link">
							<h4 class="widget-title text-white">About Us</h4>
							<div class="widget-content">	
								<ul class="text-gray-a">
									<li><a href="/our-values">Our Values</a>
									</li>
									<li><a href="/our-mission">Our Mission </a>
									</li>
									<li><a href="/our-vision">Our Vision</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6">
					<div class="footer-widget">
						<div class="widget quick-link">
							<h4 class="widget-title text-white">Services</h4>
							<div class="widget-content">	
								<ul class="text-gray-a">
									<li><a href="/residential-service">Residential Cleaning</a>
									</li>
									<li><a href="/commercial-service">Commercial Cleaning </a>
									</li>
									<li><a href="/event-service">Event Cleaning</a>
									</li>
									<li><a href="/end-of-tenancy-service">End of Tenancy Cleaning</a>
									</li>
									<li><a href="/post-construction-service">Post Construction Cleaning</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="widget get-in-touch">
							<h4 class="widget-title text-white">Get In Touch</h4>
							<div class="widget-content">
								<ul class="icon-primary text-gray-a">
									<li>
										<h6 class="inner-title text-white"><i class="fas fa-map-marker-alt mr-2"></i>Office Address</h6>
										<p>4 Delaney Way, Salford, Manchester M7 1BL.</p>
									</li>
									<li>
										<h6 class="inner-title text-white"><i class="fas fa-phone mr-2"></i>Call us 24/7</h6>
											<a href="callto:+(44) 0161 280 9564"> +(44) 0161 280 9564</a><br>
											<a href="callto:+(44) 0161 280 9564"> +(44) 0161 280 9564</a>
									</li>
									<li>
										<h6 class="inner-title text-white"><i class="fas fa-envelope mr-2"></i> Email Adress</h6>
										<p><a href="mailto:info@domain.com">info@crownedgecleaning.com</a>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="text-center text-gray bg-dark py-3"> Copyright 20125 © all rights by CodeFromMe </div>
</footer>