<header id="header" class="nav-on-top">
		<div class="header-top bg-secondary">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-9">
						<ul class="icon-list icon-primary text-white">
							<li><a href="mailto:info@crownedgecleaning.com"><i class="fas fa-envelope"></i>info@crownedgecleaning.com</a>
							</li>
							<li><a href="callto:+(44) 0161 280 9564"><i class="fas fa-phone"></i> +(44) 0161 280 9564</a>
							</li>
							<li><a href="#"><i class="far fa-clock"></i> Monday - Saturday : 9.00 am- 6:00pm (GMT)</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<div class="main-header bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-expand-lg navbar-light w-100 p-0"> <a class="navbar-brand" href="/"><img width="100px" class="nav-logo" src="images/logo/1.png" alt="Image not found"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<form action="#" method="post" class="search-from-menu animate-inout">
								<input type="search" name="search" placeholder="Type your search...">
								<span class="src-close">
										<i class="fa fa-times" aria-hidden="true"></i>
								</span>
							</form>
						  <ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown"> 
								<a class="nav-link dropdown-toggle" href="/">Home</a>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="about-us.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
							  <ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="/about">About Us</a></li>
								  <!-- <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li> -->
								  <li><a class="dropdown-item" href="/our-values">Our Values</a></li>
								  <li><a class="dropdown-item" href="/our-mission">Our Mission</a></li>
								  <li><a class="dropdown-item" href="/our-vision">Our Vision</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="service.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
							  <ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="/residential-service">Residential Cleaning</a></li>
								  <li><a class="dropdown-item" href="/commercial-service">Commercial Cleaning</a></li>
								  <li><a class="dropdown-item" href="/end-of-tenancy-service">End of Tenancy Service</a></li>
								  <li><a class="dropdown-item" href="/event-service">Event Cleaning</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="/portfolio">Portfolio</a>
							 
							</li>
							<li class="nav-item"> <a class="nav-link" href="/book-us-now">Request Quote</a> </li>
							<li class="nav-item"> <a class="nav-link" href="/contact">Contact</a> </li>
						  </ul>
						
						</div>
					  </nav>
					</div>
				</div>
			</div>
		</div>
	</header>