<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>
<body class="page-load">

<div id="wrapper">
	<div class="row">
	<!--Header Section Start-->
	
	<%- include('partials/header.ejs') %>
<!-- REVOLUTION LAYERS STYLES -->
<section class="full-row example">
	<article class="content">
		<div id="rev_slider_26_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="mask-showcase" data-source="gallery" style="background:#aaaaaa;padding:0px;">
		<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
			<div id="rev_slider_26_1" class="rev_slider fullscreenbanner tiny_bullet_slider" style="display:none;" data-version="5.4.1">
				<ul>	<!-- SLIDE  -->
					<li data-index="rs-73" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/skin1.jpg" data-bgcolor='linear-gradient(90deg, rgba(134,143,150,1) 0%, rgba(89,97,100,1) 100%)'' style='background:linear-gradient(90deg, rgba(134,143,150,1) 0%, rgba(89,97,100,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<a href="/services" class="tp-caption rev-btn  tp-resizeme" 
							 id="slide-73-layer-4" 
							 data-x="['left','left','left','left']" data-hoffset="['75','120','70','40']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="button" 
							data-responsive_offset="on" 

							data-frames='[{"delay":500,"speed":1000,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[30,30,30,30]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[30,30,30,30]"

							style="z-index: 5; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:'Montserrat', sans-serif;;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Our Services</a>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
							 id="slide-73-layer-1" 
							 data-x="['center','center','center','center']" data-hoffset="['500','500','390','220']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"delay":400,"speed":750,"sfxcolor":"#2f3b4a","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 6;"><img src="images/waves.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['677px','677px','450','281']" width="1200" height="812" data-no-retina> </div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-73-layer-3" 
							 data-x="['left','left','left','left']" data-hoffset="['50','100','50','20']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']" 
										data-width="none"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":300,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:'Montserrat', sans-serif;">spotless sanctuaries</div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-73-layer-2" 
							 data-x="['left','left','left','left']" data-hoffset="['50','100','50','20']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" 
										data-fontsize="['70','70','70','50']"
							data-lineheight="['70','70','70','50']"
							data-width="['650','650','620','380']"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":200,"speed":750,"sfxcolor":"#ffff58","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[20,20,20,20]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[30,30,30,30]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 8; min-width: 650px; max-width: 850px; white-space: normal; font-size: 50px; line-height: 80px; font-weight: 700; color: #ffffff; letter-spacing: 1px; font-family:'Montserrat', sans-serif;">Bringing the Sparkle Back!</div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-74" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/transparent.png" data-bgcolor='linear-gradient(120deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)'' style='background:linear-gradient(120deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 5 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
							 id="slide-74-layer-1" 
							 data-x="['center','center','center','center']" data-hoffset="['-500','-500','-390','-220']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"delay":200,"speed":750,"sfxcolor":"#243949","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 5;"><img src="images/blume.jpg" alt="" data-ww="['1000px','1000px','800px','500px']" data-hh="['683px','683px','546px','341px']" width="1200" height="819" data-no-retina> </div>

						<!-- LAYER NR. 6 -->
						<a href="#" class="tp-caption rev-btn  tp-resizeme" 
							 id="slide-74-layer-4" 
							 data-x="['left','left','left','left']" data-hoffset="['1000','760','600','330']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['150','150','150','110']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="button" 
							data-responsive_offset="on" 

							data-frames='[{"delay":500,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[30,30,30,30]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[30,30,30,30]"

							style="z-index: 6; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:'Montserrat', sans-serif; border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</a>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-74-layer-3" 
							 data-x="['left','left','left','left']" data-hoffset="['930','700','540','270']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-177','-177','-177','-157']" 
										data-width="none"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":400,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:'Montserrat', sans-serif;">spotless sanctuaries </div>

						<!-- LAYER NR. 8 -->
						<div class="tp-caption tp-resizeme" 
							 id="slide-74-layer-2" 
							 data-x="['left','left','left','left']" data-hoffset="['480','240','110','80']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']" 
										data-fontsize="['70','70','70','50']"
							data-lineheight="['70','70','70','50']"
							data-width="['650','650','620','380']"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":300,"speed":750,"sfxcolor":"#cbbacc","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoright","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['right','right','right','right']"
							data-paddingtop="[20,20,20,20]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[30,30,30,30]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 8; min-width: 650px; max-width: 650px; text-align: right; white-space: normal; font-size: 50px; line-height: 80px; font-weight: 700; color: #ffffff; letter-spacing: 1px; font-family:'Montserrat', sans-serif;"> Clean Spaces, Cleaner Planet</div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-75" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/transparent.png" data-bgcolor='linear-gradient(0deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)'' style='background:linear-gradient(120deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 9 -->
						<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
							 id="slide-75-layer-1" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['255','255','265','185']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"delay":500,"speed":750,"sfxcolor":"#f8b604","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 5;"><img src="images/krokodil.jpg" alt="" data-ww="['1000px','1000px','800px','800px']" data-hh="['667px','667px','450px','450px']" width="1200" height="800" data-no-retina> </div>

						<!-- LAYER NR. 10 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-75-layer-2" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-90']" 
										data-fontsize="['70','70','70','50']"
							data-lineheight="['70','70','70','50']"
							data-width="['650','650','620','380']"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":200,"speed":750,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['center','center','center','center']"
							data-paddingtop="[20,20,20,20]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[30,30,30,30]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 6; min-width: 650px; max-width: 650px; white-space: normal; font-size: 50px; line-height: 70px; font-weight: 700; color: #ffffff; letter-spacing: -2px;font-family:'Montserrat', sans-serif;">Trusted Hands, Pristine Results</div>

						<!-- LAYER NR. 11 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-75-layer-3" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-247','-247','-247','-217']" 
										data-width="none"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":300,"speed":750,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 500; color: #ffffff; letter-spacing: 10px;font-family:'Montserrat', sans-serif;">Pristine Results </div>

						<!-- LAYER NR. 12 -->
						<div class="tp-caption rev-btn  tp-resizeme" 
							 id="slide-75-layer-4" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','50']" 
										data-width="none"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="button" 
							data-responsive_offset="on" 

							data-frames='[{"delay":400,"speed":750,"sfxcolor":"#058a9b","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktotop","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[30,30,30,30]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[30,30,30,30]"

							style="z-index: 8; white-space: normal; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:'Montserrat', sans-serif;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn more </div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-76" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="http://works.themepunch.com/revolution_5_3/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/skin2.jpg" data-bgcolor='linear-gradient(140deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 28%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%)'' style='background:linear-gradient(140deg, rgba(35,21,87,1) 0%, rgba(68,16,122,1) 28%, rgba(255,19,97,1) 67%, rgba(255,248,0,1) 100%)' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 14 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-76-layer-2" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
										data-fontsize="['70','70','70','50']"
							data-lineheight="['70','70','70','50']"
							data-width="['850','650','620','380']"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":300,"speed":750,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['center','center','center','center']"
							data-paddingtop="[20,20,20,20]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[30,30,30,30]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 6; min-width: 650px; max-width: 850px; white-space: normal; font-size: 50px; line-height: 80px; font-weight: 700; color: #ffffff; font-family:'Montserrat', sans-serif;">residential & commercial cleaning.</div>

						<!-- LAYER NR. 15 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-76-layer-3" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-157','-157','-187','-197']" 
										data-width="none"
							data-height="none"
							data-whitespace="normal"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"delay":400,"speed":750,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[10,10,10,10]"
							data-paddingright="[20,20,20,20]"
							data-paddingbottom="[10,10,10,10]"
							data-paddingleft="[20,20,20,20]"

							style="z-index: 7; white-space: normal; font-size: 20px; line-height: 20px; font-weight: 500; color: #ffffff; letter-spacing: 10px;font-family:'Montserrat', sans-serif;">From Messy to Magical</div>

						<!-- LAYER NR. 16 -->
						<a href="https://themeforest.net/user/unicoder/portfolio" class="tp-caption rev-btn  tp-resizeme" 
							 id="slide-76-layer-4" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['180','180','130','160']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="button" 
							data-responsive_offset="on" 

							data-frames='[{"delay":500,"speed":750,"sfxcolor":"#ff1361","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktobottom","frame":"999","to":"z:0;","ease":"Power4.easeOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(0,0,0);bg:rgb(255,255,255);"}]'
							data-textAlign="['inherit','inherit','inherit','inherit']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[30,30,30,30]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[30,30,30,30]"

							style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 50px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: 2px;font-family:'Montserrat', sans-serif;border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</a>
					</li>
				</ul>
				<div class="tp-bannertimer" style="height: 10px; background: rgba(0, 0, 0, 0.15);"></div>
			</div>
		</div><!-- END REVOLUTION SLIDER -->
	</article>
</section>

<style type="text/css">.tiny_bullet_slider .tp-bullet:before{content:" ";  position:absolute;  width:100%;  height:25px;  top:-12px;  left:0px;  background:transparent}</style>
<style type="text/css">#rev_slider_26_1 .uranus.tparrows{width:50px; height:50px; background:rgba(255,255,255,0)}#rev_slider_26_1 .uranus.tparrows:before{width:50px; height:50px; line-height:50px; font-size:40px; transition:all 0.3s;-webkit-transition:all 0.3s}#rev_slider_26_1 .uranus.tparrows:hover:before{opacity:0.75}.bullet-bar.tp-bullets{}.bullet-bar.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.bullet-bar .tp-bullet{width:60px;height:3px;position:absolute;background:#aaa;  background:rgba(204,204,204,0.5);cursor:pointer;box-sizing:content-box}.bullet-bar .tp-bullet:hover,.bullet-bar .tp-bullet.selected{background:rgba(204,204,204,1)}.bullet-bar .tp-bullet-image{}.bullet-bar .tp-bullet-title{}</style>
<!-- Slider Section End --> 

<!--About Us Section Start-->
<section class="full-row bg-white py-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<h2 class="title text-secondary both-line text-center mb-40">About Us</h2>
				<span class="sub-title box text-center text-black">
					CrownEdge Cleaning is Manchester’s trusted choice for top-quality, eco-friendly cleaning. Established in 2024, we deliver sparkling results to homes, offices, and events with integrity, reliability, and a passion for perfection.
				</span>
            </div>
        </div>
        <div class="row">
			<div class="col-lg-5">
				<div class="about-us-left full-row">
					<div class="big-img full-row"> <img class="circle" src="images/about/1.png" alt=" /"> </div>
					<div class="small-img overlay-primary flat-white flaticon-medium">
						<img class="circle" src="images/about/2.png" alt=" /">
					
						
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="we-are wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
					<h5 class="inner-title text-secondary pb-3">Who We Are ?</h5>
					<div class="mb-30">
						<p>We are a team of experienced and passionate professionals dedicated to delivering top-tier cleaning solutions that go beyond the ordinary. With years of expertise and a genuine commitment to excellence, we understand that a clean space isn’t just about appearance it’s about health, comfort, and peace of mind. Whether it’s a cozy home, a vibrant office, or a large commercial space, we approach each project with precision, care, and an eye for detail that sets us apart.</p>
						<p>At the core of our service is a strong belief in sustainability and customer satisfaction. We use eco-friendly products and modern cleaning methods to ensure both safety and spotless results. Our team is reliable, friendly, and trained to treat every space with the respect it deserves. No matter the size or scope, we deliver consistent, high-quality service that you can depend on—every single time.
</p>
					</div>
					<a class="btn btn-primary" href="/about">Learn More</a>
				</div>
			</div>
        </div>
    </div>
</section>
<!--About Us Section End-->

<!--Our Service Section Start-->
<section class="full-row bg-off-white py-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
				<h2 class="title text-secondary both-line text-center mb-40">Our Service</h2>
				<span class="sub-title box text-center text-black">
					We provide reliable residential and commercial cleaning solutions with a focus on quality, sustainability, and attention to detail because every space deserves to shine.
				</span>
            </div>
        </div>
        <div class="row">
            <div class="full-row">
                <div class="service-left flat-white">
                    <div class="service-item mb-40">
						<a href="/residential-service">
							<div class="service-icon circle bg-secondary"><span class="flaticon-home margin-auto"></span></div>
							<h5 class="inner-title text-secondary wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms"> Residential Cleaning </h5>
                        </a>
					</div>
                    <div style="opacity: 0;"" class="service-item mb-40 pr-5 bg-transparent"> 
						<a >
							<div style="border: 0px solid rgba(0, 0, 0, 0);" class="service-icon circle bg-transparent"><span class=" margin-auto"></span></div>
                        </a>
					</div>
                    <div class="service-item mb-40"> 
						<a href="/end-of-tenancy-service">
							<div class="service-icon circle bg-secondary"><span class="flaticon-paintbrush margin-auto"></span></div>
							<h5 class="inner-title text-secondary wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">End-of-Tenancy Cleaning</h5>
                        </a>
					</div>
                </div>
                <div class="service-middle circle margin-auto"> <img class="circle" src="images/service.png" alt="Image not found!"> </div>
                <div class="service-right flat-white">
                    <div class="service-item float-left mb-40"> 
						<a href="/commercial-service">
							<div class="service-icon circle bg-secondary"><span class="flaticon-bank-building margin-auto"></span></div>
							<h5 class="inner-title text-secondary wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1000ms">Commercial Cleaning</h5>
                        </a>
					</div>
                    <div style="opacity: 0;" class="service-item float-left mb-40 pl-5"> 
						<a>
							<div class="service-icon circle bg-secondary"><span class="flaticon-express-delivery margin-auto"></span></div>
							<h5 class="inner-title text-secondary wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1000ms">Event Cleaning</h5>
                        </a>
					</div>
                    <div class="service-item float-left mb-40"> 
					<a href="/event-service">
							<div class="service-icon circle bg-secondary"><span class="flaticon-express-delivery margin-auto"></span></div>
							<h5 class="inner-title text-secondary wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1000ms">Event Cleaning</h5>
                        </a>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Service Section End-->

<!--Why Choose Us Section Start-->
<section id="why-choose-us" class="bg-white py-70 full-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
				<h2 class="title text-secondary both-line text-center mb-40">Why choose us</h2>
				<span class="sub-title box text-center text-black">
					We’re more than just cleaners—we’re committed partners in creating healthier, fresher spaces. Our team is trained, reliable, and detail-focused, ensuring consistent quality you can count on. With eco-friendly products, flexible scheduling, and a customer-first mindset, we make cleanliness effortless and satisfaction guaranteed.
				</span>
            </div>
        </div>
        <div class="row">
			<div class="col-lg-7">
				<div class="choose-us-left flat-white">
					<div class="choose-resons pb-30">
						<span class="bg-primary circle text-center mr-20"><i class="flaticon-medal"></i></span>
						<div class="choose-text">
							<h6 class="inner-title">Unmatched Excellence</h6>
							<p>We deliver premium-quality cleaning with precision and care.</p>
						</div>
					</div>
					<div class="choose-resons pb-30">
						<span class="bg-primary circle text-center mr-20"><i class="flaticon-tyre-expert"></i></span>
						<div class="choose-text">
							<h6 class="inner-title">Eco-Conscious Cleaning</h6>
							<p>We use environmentally safe products that protect your space and the planet.</p>
						</div>
					</div>
					<div class="choose-resons pb-30">
						<span class="bg-primary circle text-center mr-20"><i class="flaticon-wrench"></i></span>
						<div class="choose-text">
							<h6 class="inner-title">Client-First Approach</h6>
							<p>Your needs drive our services—we listen, adapt, and deliver satisfaction.</p>
						</div>
					</div>
					<div class="choose-resons pb-30">
						<span class="bg-primary circle text-center mr-20"><i class="flaticon-cute-rocket-launching"></i></span>
						<div class="choose-text">
							<h6 class="inner-title">Quick Response and 24/7 Support</h6>
							<p>Always punctual, professional, and committed to your schedule.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 overflow-hidden-mobile">
				<div style="width: 370px; height: 370px; overflow: hidden; display: flex; align-items: center; justify-items: center; border-radius: 50px;" class="choose-us-right "> <img src="images/cleaning-lady.png" alt="Image not found!"> </div>
			</div>
        </div>
    </div>
</section>
<!--Why Choose Us Section End-->

<!--Achivment Section Start-->
<section class="full-row background-1 overlay-secondary py-70">
    <div class="container">
        <div class="fact-counter">
            <div class="row">
                <div class="col-12">
                    <div class="achievement flat-primary text-center wow fadeIn mb-5 mb-lg-0" data-wow-duration="300ms"> 
                        <h2 class="text-white">CrownEdge Cleaning, Since 2024</h2>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-sm-6">
                    <div class="achievement flat-primary text-center wow fadeIn mb-5 mb-lg-0" data-wow-duration="300ms">
						<span class="flaticon-handshake"></span>
                        <h2 class="counting text-white my-3" data-speed="3000" data-stop="1500">0</h2>
                        <h6 class="sunject text-white">Satisfied Clients</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="achievement flat-primary text-center wow fadeIn mb-5 mb-lg-0" data-wow-duration="300ms">
						<span class="flaticon-cup"></span>
                        <h2 class="counting text-white my-3" data-speed="3000" data-stop="120">0</h2>
                        <h6 class="sunject text-white">Awards win</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="achievement flat-primary text-center wow fadeIn mb-5 mb-lg-0" data-wow-duration="300ms">
						<span class="flaticon-calendar"></span>
                        <h2 class="counting text-white my-3" data-speed="3000" data-stop="20">0</h2>
                        <h6 class="sunject text-white">Years Experience</h6>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!--Achivment Section End--> 

<!--Our Project Section Start-->
<section class="full-row bg-white py-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
					<h2 class="title text-secondary both-line text-center mb-40">Our Projects</h2>
            </div>
			<div class="col-md-12">
				<div class="gallery-section">
				  <div class="auto-container"> 
					<!--Filter-->
					<div class="filters">
					  <ul class="filter-tabs filter-btns clearfix anim-3-all">
						<li class="active filter" data-role="button" data-filter="all">All Project</li>
						<li class="filter" data-role="button" data-filter=".appartment-pot">Appartment</li>
						<li class="filter" data-role="button" data-filter=".car-wash-pot">Car Wash</li>
						<li class="filter" data-role="button" data-filter=".office-pot">Office</li>
						<li class="filter" data-role="button" data-filter=".renovation-pot">Renovation</li>
						<li class="filter" data-role="button" data-filter=".in-out-pot">Move In/Out</li>
						<li class="filter" data-role="button" data-filter=".green-cleaning-pot">Green Cleaning</li>
					  </ul>
					</div>
					<!--Filter List--> 
					
					<!-- Tab Content -->
					<div class="row filter-list clearfix">
					  <div class="column mix mix-all green-cleaning-pot office-pot appartment-pot col-lg-4 col-sm-6">
						<!--Default Portfolio Item-->
						<div class="default-portfolio-item">
							<div class="inner-box text-center"> 
								<!--Image Box-->
								<figure class="image-box"><img src="images/portfolio/1.jpg" alt="Image not found!"></figure>
								<div class="overlay-box bg-primary">
									<div class="inner-content"> <a class="arrow lightbox-image" href="single-project.html"><img src="images/icon/right-arrow.png" alt="Image not found!" class="flaticon-cross-4" /> </a>
										<div class="content-bottom text-left">
											<h6 class="text-dark">Magiclal Essence</h6>
											<a href="single-project.html">
											<h5 class="inner-title text-white">Cleaning service</h5>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					  </div>
					 
					  
					</div>
					<!-- End tab content --> 
				  </div>
				</div>
			</div>
        </div>
        
    </div>
</section>
<!--Our Project Section End-->

<!--Quote & Testmonial Section Start-->
<section class="full-row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 bg-dark overflow-hidden">
                <div class="row">
                    <div class="quote">
                        <div class="row">
                            <div class="col-lg-8">
                                <h3 class="inner-title text-primary down-line mb-30">Get A Quote</h3>
                                <div class="text-area text-white"><p>Tell us a bit about your space and cleaning needs, and we'll send you a personalized quote quick and hassle free!</p></div>
                                <form class="transparent-form py-3" method="post" action="#">
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-6">
                                            <input type="text" class="form-control" name="name" placeholder="Your Name" />
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <input type="text" class="form-control" name="email" placeholder="Email Address" />
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <input type="text" class="form-control" name="phone" placeholder="Phone Number" />
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <input type="text" class="form-control" name="address" placeholder="Location / Address" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <select class="form-control">
                                                <option>Select Your Service Type</option>
                                                <option value="apartment">Apartment Cleaning</option>
                                                <option value="commercial-service">Commercial Cleaning</option>
                                                <option value="end-of-tenancy-service">End Of Tenancy Cleaning</option>
                                                <option value="event-cleaning-service">Event Cleaning</option>
                                                <option value="residential-cleaning">Residential Cleaning</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <textarea class="form-control" column="8" name="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input class="btn btn-primary mt-3" type="submit" value="send" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="quote-image wow slideInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
							<!-- put som in here -->
						</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bg-off-white">
                <div class="row">
                    <!-- <div class="testimonials">
                        <h3 class="inner-title text-secondary down-line">Testimonial</h3>
                        <div class="testimonials-carousel owl-carousel">
                            <div class="item">
                                <div class="testimonial-author"> <img class="circle" src="images/author.png" alt="Image not found!"> </div>
                                <div class="testimonial-detail bg-white p-3 full-row">
                                    <div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
                                    <h6 class="author-name text-capitalize">Steven Lucas</h6>
                                    <div class="author-designation">CEO Unicoder Group</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-author"> <img class="circle" src="images/author.png" alt="Image not found!"> </div>
                                <div class="testimonial-detail bg-white p-3 full-row">
                                    <div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
                                    <h6 class="author-name text-capitalize">Steven Lucas</h6>
                                    <div class="author-designation">CEO Unicoder Group</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-author"> <img class="circle" src="images/author.png" alt="Image not found!"> </div>
                                <div class="testimonial-detail bg-white p-3 full-row">
                                    <div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
                                    <h6 class="author-name text-capitalize">Steven Lucas</h6>
                                    <div class="author-designation">CEO Unicoder Group</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Quote & Testmonial Section End-->

<!--Process Section Start-->
<div class="full-row text-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="row h-100">
                    <div class="offer process-item">
                        <h4 class="inner-title down-line black text-black">Get An Offer</h4>
                        <div class="text-area"><p>Take the first step toward a cleaner, healthier space! Request your free quote today and enjoy exclusive deals tailored to your needs. Whether it’s a one-time service or a recurring plan, we’ve got an offer just for you.</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row h-100">
                    <div class="objection process-item bg-primary">
                        <h4 class="inner-title down-line black text-black">Give your objection</h4>
                        <div class="text-area"><p>We understand that letting someone into your space is a big decision. That’s why we’re transparent, professional, and fully committed to your peace of mind. No hidden fees, no rushed jobs—just honest service and spotless results. Still unsure? Reach out. We’re happy to answer any questions.

</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 float-right">
                <div class="row h-100">
                    <div class="save-money process-item">
                        <h4 class="inner-title down-line black text-black">Save your money</h4>
                        <div class="text-area"><p>Quality cleaning doesn’t have to break the bank. We offer affordable, value-packed services that give you spotless results without the high price tag. Enjoy a cleaner space while keeping your budget intact.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Process Section End--> 


<!--Footer Section Start-->
<%- include('partials/footer.ejs') %>
</div>
</div>
<!--Footer Section End--> 


<!-- All Javascript Plugin File here --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src='js/revolution.addon.slicey.min8a54.js?ver=1.0.0'></script>
<script src="js/revolution.addon.particles.min4bf4.js?ver=1.0.3"></script>
<script src="js/popper-1.14.7.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<!--tab gallery section--> 
<script src="js/mixitup.js"></script>

<script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>

<script src="js/jquery.cookie.js"></script>
<script src="js/settings.js"></script>
<script src="js/custom.js"></script>

<!-- use for map style --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9elt0rwxavbdmLzvKE8nbHtrfxpshzmo"></script>
<script src="js/map.scripts.js"></script> 
</body> 

<!-- Mirrored from unicoderbd.com/template/uwash/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 15:48:48 GMT -->
</html>