 <!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>

<body class="page-load">


<div id="wrapper">
	<div class="row">
	<!--Header Section Start-->
	<%- include('partials/header.ejs') %>
	<!--Header Section End-->
 <!--Page Banner Start-->
<section class="full-row text-center overlay-secondary page-banner py-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">Our Project</h2>
				<ul class="page-banner-link text-white">
					<li><a href="index.html">Home /</a></li>
					<li><a href="#">Our Project</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
 <!--Page Banner End--> 
 
<!--Our Project Section Start-->
<section class="full-row bg-white py-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
					<h2 class="title text-secondary both-line text-center mb-40">Our Projects</h2>
            </div>
			<div class="col-md-12">
				<div class="gallery-section">
				  <div class="auto-container"> 
					<!--Filter-->
					<div class="filters">
					  <ul class="filter-tabs filter-btns clearfix anim-3-all">
						<li class="active filter" data-role="button" data-filter="all">All Project</li>
						<li class="filter" data-role="button" data-filter=".appartment-pot">Appartment</li>
						<li class="filter" data-role="button" data-filter=".office-pot">Office</li>
						<li class="filter" data-role="button" data-filter=".renovation-pot">Renovation</li>
						<li class="filter" data-role="button" data-filter=".in-out-pot">Move In/Out</li>
						<li class="filter" data-role="button" data-filter=".green-cleaning-pot">Green Cleaning</li>
					  </ul>
					</div>
					<!--Filter List--> 
					
					<!-- Tab Content -->
					<div class="row filter-list clearfix">
					  <div class="column mix mix-all green-cleaning-pot office-pot appartment-pot col-lg-4 col-sm-6">
						<!--Default Portfolio Item-->
						<div class="default-portfolio-item">
							<div class="inner-box text-center"> 
								<!--Image Box-->
								<figure class="image-box"><img src="images/portfolio/1.jpg" alt="Image not found!"></figure>
								<div class="overlay-box bg-primary">
									<div class="inner-content"> <a class="arrow lightbox-image" href="single-project.html"><img src="images/icon/right-arrow.png" alt="Image not found!" class="flaticon-cross-4" /> </a>
										<div class="content-bottom text-left">
											<h6 class="text-dark">Crown Edge</h6>
											<a href="single-project.html">
											<h5 class="inner-title text-white">Cleaning Service</h5>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					  </div>
					  <div class="column mix car-wash-pot renovation-pot col-lg-4 col-sm-6">
						<!--Default Portfolio Item-->
						<div class="default-portfolio-item">
							<div class="inner-box text-center"> 
								<!--Image Box-->
								<figure class="image-box"><img src="images/portfolio/2.jpg" alt="Image not found!"></figure>
								<div class="overlay-box bg-primary">
									<div class="inner-content"> <a class="arrow lightbox-image" href="single-project.html"><img src="images/icon/right-arrow.png" alt="Image not found!" class="flaticon-cross-4" /> </a>
										<div class="content-bottom text-left">
											<h6 class="text-dark">Crown Edge</h6>
											<a href="single-project.html">
											<h5 class="inner-title text-white">Cleaning Service</h5>
											</a> 
										</div>
									</div>
								</div>
							</div>
						</div>
					  </div>
					  <div class="column mix renovation-pot appartment-pot green-cleaning-pot col-lg-4 col-sm-6">
						<!--Default Portfolio Item-->
						<div class="default-portfolio-item">
							<div class="inner-box text-center"> 
								<!--Image Box-->
								<figure class="image-box"><img src="images/portfolio/3.jpg" alt="Image not found!"></figure>
								<div class="overlay-box bg-primary">
									<div class="inner-content"> <a class="arrow lightbox-image" href="single-project.html"><img src="images/icon/right-arrow.png" alt="Image not found!" class="flaticon-cross-4" /> </a>
										<div class="content-bottom text-left">
											<h6 class="text-dark">Crown Edge</h6>
											<a href="single-project.html">
											<h5 class="inner-title text-white">Cleaning Service</h5>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					  </div>
					
					</div>
					<!-- End tab content --> 
				  </div>
				</div>
			</div>
        </div>
        
    </div>
</section>
<!--Our Project Section End-->




<!--Footer Section Start-->
<%- include('partials/footer.ejs') %>
</div>
</div>
<!--Footer Section End--> 


<!-- All Javascript Plugin File here --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src='js/revolution.addon.slicey.min8a54.js?ver=1.0.0'></script>
<script src="js/revolution.addon.particles.min4bf4.js?ver=1.0.3"></script>
<script src="js/popper-1.14.7.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<!--tab gallery section--> 
<script src="js/mixitup.js"></script>

<script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>

<script src="js/jquery.cookie.js"></script>
<script src="js/settings.js"></script>
<script src="js/custom.js"></script>

<!-- use for map style --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9elt0rwxavbdmLzvKE8nbHtrfxpshzmo"></script>
<script src="js/map.scripts.js"></script> 
</body> 

<!-- Mirrored from unicoderbd.com/template/uwash/project.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 15:50:01 GMT -->
</html>