<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>

<body class="page-load">


<div id="wrapper">
	<div class="row">
	<!--Header Section Start-->
	<%- include('partials/header.ejs') %>
	<!--Header Section End--> 

 <!--Page Banner Start-->
<section class="full-row text-center overlay-secondary page-banner py-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">Quote</h2>
				<ul class="page-banner-link text-white">
					<li><a href="/">Home /</a></li>
					<li><a href="#">Pages /</a></li>
					<li><a href="#">Quote</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
 <!--Page Banner End--> 

<!--Quote Page Start-->
<section class="full-row bg-white py-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="widget quote-sidebar bg-off-white p-30">
          <h4 class="inner-title">How it works</h4>
          <p>Looking for reliable cleaning services? Get a personalized quote in minutes!</p>
          <ul class="list-style-2 mt-30">
            <li>transparent pricing – no hidden fees</li>
            <li>Flexible scheduling to fit your lifestyle</li>
            <li>Eco-friendly products & safe practices</li>
            <li>Satisfaction guaranteed – or we’ll make it right</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
       <form action="#" method="post" class="service-quote-form form-2 icon-gray mt-md-30">
  <div class="row">
    <!-- Service Selection -->
    <div class="col-md-12">
      <div class="select-icon">
        <select class="form-control" name="service">
          <option value="">Select your service</option>
          <option value="end-of-tenancy">End of Tenancy Cleaning</option>
          <option value="commercial">Commercial Cleaning</option>
          <option value="residential">Residential Cleaning</option>
          <option value="event">Event Cleanup</option>
        </select>
      </div>
    </div>

    <!-- Service Preferences -->
    <div class="col-md-12">
      <h4 class="inner-title mt-30">What Do You Need?</h4>
    </div>
    <div class="col-md-12">
      <ul>
        <li><input type="checkbox" name="deep_cleaning" id="deep_cleaning" />
          <label for="deep_cleaning" class="checkboxes">Deep Cleaning</label></li>
        <li><input type="checkbox" name="window_cleaning" id="window_cleaning" />
          <label for="window_cleaning" class="checkboxes">Window Cleaning</label></li>
        <li><input type="checkbox" name="carpet_cleaning" id="carpet_cleaning" />
          <label for="carpet_cleaning" class="checkboxes">Carpet & Upholstery</label></li>
        <li><input type="checkbox" name="trash_removal" id="trash_removal" />
          <label for="trash_removal" class="checkboxes">Trash Removal</label></li>
        <li><input type="checkbox" name="disinfection" id="disinfection" />
          <label for="disinfection" class="checkboxes">Disinfection Service</label></li>
        <li><input type="checkbox" name="kitchen_bathroom" id="kitchen_bathroom" />
          <label for="kitchen_bathroom" class="checkboxes">Kitchen & Bathroom Focus</label></li>
      </ul>
    </div>

    <!-- Additional Info -->
    <div class="col-md-12">
      <h4 class="inner-title mt-30">Additional Details</h4>
    </div>
    <div class="col-md-12">
      <textarea class="form-control" rows="6" name="additional_info" placeholder="Tell us more about your space or special requests..."></textarea>
    </div>

    <!-- Contact Info -->
    <div class="col-md-12">
      <h4 class="inner-title mt-30">Your Contact Details</h4>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Full Name">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" name="phone" placeholder="Phone Number">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email Address">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" name="subject" placeholder="Subject">
      </div>
    </div>

    <!-- Preferred Date & Time -->
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" name="date" placeholder="Preferred Service Date">
        <a href="#"><i class="far fa-calendar"></i></a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" name="time" placeholder="Preferred Service Time">
        <a href="#"><i class="far fa-clock"></i></a>
      </div>
    </div>

    <!-- Final Message -->
    <div class="col-md-12">
      <div class="form-group">
        <textarea class="form-control" cols="30" rows="6" name="final_message" placeholder="Any final notes or instructions?"></textarea>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Submit Request</button>
    </div>
  </div>
</form>
	  </div>
    </div>
  </div>
</section>
<!--Quote Page End--> 

<!--Footer Section Start-->
<%- include('partials/footer.ejs') %>
</div>
</div>
<!--Footer Section End--> 


<!-- All Javascript Plugin File here --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src='js/revolution.addon.slicey.min8a54.js?ver=1.0.0'></script>
<script src="js/revolution.addon.particles.min4bf4.js?ver=1.0.3"></script>
<script src="js/popper-1.14.7.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<!--tab gallery section--> 
<script src="js/mixitup.js"></script>

<script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>

<script src="js/jquery.cookie.js"></script>
<script src="js/settings.js"></script>
<script src="js/custom.js"></script>

<!-- use for map style --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9elt0rwxavbdmLzvKE8nbHtrfxpshzmo"></script>
<script src="js/map.scripts.js"></script> 
</body> 

<!-- Mirrored from unicoderbd.com/template/uwash/quote.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 15:50:10 GMT -->
</html>