<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from unicoderbd.com/template/uwash/testimonial.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 15:49:48 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Uwash - Cleaning Service Company HTML5 Template">
	<meta name="keywords" content="business, car wash, cleaners, cleaning, cleaning company, construction, contractor, house cleaning, maintenance, renovation, service, washing">
	<meta name="author" content="Unicoder">
	<title>Uwash - Cleaning Service Company HTML5 Template</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- Links of css files -->
	<link href="css/bootstrap-4.3.1.min.css" rel="stylesheet">
	<link href="css/fontawesome-all-5.8.1.min.css" rel="stylesheet">
	<link href="webfonts/flaticon/flaticon.css" rel="stylesheet">
	<link href="css/jquery-ui.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/settings.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/color.css" rel="stylesheet" id="color-change">
	<link href="css/loader.css" rel="stylesheet">
	<link href="css/range-slider.css" rel="stylesheet">
	<link href="css/YouTubePopUp.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="page-load">
<!-- Preloader start -->
<!-- <div class="preloader">
	<div class="spinner">
		<div class="double-bounce1"></div>
		<div class="double-bounce2"></div>
	</div>
</div> -->
<!-- Preloader End -->

<!-- Color Settings -->
<div class="color-panel">
	<div class="on-panel bg-primary"><img src="images/icon/settings.png" alt="Image not found!"></div>
	<div class="panel-box">
		<span class="panel-title">Primary Colors</span>
		<ul class="color-box">
			<li class="default" data-name="default" data-path="css/color.css" data-image="images/logo/1.png" data-target="images/logo/2.png"></li>
			<li class="yellow-light" data-name="yellow-light" data-path="css/colors/yellow-light.css" data-image="images/logo/yellow-light/1.png" data-target="images/logo/yellow-light/2.png"></li>
			<li class="green" data-name="green" data-path="css/colors/green.css" data-image="images/logo/green/1.png" data-target="images/logo/green/2.png"></li>
			<li class="red" data-name="red" data-path="css/colors/red.css" data-image="images/logo/red/1.png" data-target="images/logo/red/2.png"></li>
			<li class="tender-leaf" data-name="tender-leaf" data-path="css/colors/tender-leaf.css" data-image="images/logo/tender-leaf/1.png" data-target="images/logo/tender-leaf/2.png"></li>
		</ul>
	</div>
	<div class="switcher-layout">
		<span class="layout-title">Layout Style</span>
		<div class="radio-check">
			<input type="checkbox" id="layout-type" name="layout" value="Yes">
			<label class="bg-secondary text-left" for="layout-type"><span class="text-white">Full</span><span class="text-secondary">Box</span></label>
		</div>
	</div>
	<div class="box-bg-style">
		<span class="layout-title">Background pattern</span>
		<div class="select-bg">
			<ul>
				<li><input type="radio" name="radio" id="patrn1" value="pattern-1" /><label for="patrn1" class="radios pattern1"></label></li>
				<li><input type="radio" name="radio" id="patrn2" value="pattern-2" /><label for="patrn2" class="radios pattern2"></label></li>
				<li><input type="radio" name="radio" id="patrn3" value="pattern-3" /><label for="patrn3" class="radios pattern3"></label></li>
				<li><input type="radio" name="radio" id="patrn4" value="pattern-4" /><label for="patrn4" class="radios pattern4"></label></li>
				<li><input type="radio" name="radio" id="patrn5" value="pattern-5" /><label for="patrn5" class="radios pattern5"></label></li>
				<li><input type="radio" name="radio" id="patrn6" value="pattern-6" /><label for="patrn6" class="radios pattern6"></label></li>
				<li><input type="radio" name="radio" id="patrn7" value="pattern-7" /><label for="patrn7" class="radios pattern7"></label></li>
				<li><input type="radio" name="radio" id="patrn8" value="pattern-8" /><label for="patrn8" class="radios pattern8"></label></li>
				<li><input type="radio" name="radio" id="patrn9" value="pattern-9" /><label for="patrn9" class="radios pattern9"></label></li>
				<li><input type="radio" name="radio" id="patrn10" value="pattern-10" /><label for="patrn10" class="radios pattern10"></label></li>
				<li><input type="radio" name="radio" id="patrn11" value="pattern-11" /><label for="patrn11" class="radios pattern11"></label></li>
				<li><input type="radio" name="radio" id="patrn12" value="pattern-12" /><label for="patrn12" class="radios pattern12"></label></li>
				<li><input type="radio" name="radio" id="patrn13" value="pattern-13" /><label for="patrn13" class="radios pattern13"></label></li>
				<li><input type="radio" name="radio" id="patrn14" value="pattern-14" /><label for="patrn14" class="radios pattern14"></label></li>
				<li><input type="radio" name="radio" id="patrn15" value="pattern-15" /><label for="patrn15" class="radios pattern15"></label></li>
			</ul>
		</div>
		<span class="layout-title">Background pattern</span>
		<div class="select-bg">
			<ul>
				<li><input type="radio" name="radio" id="bg-img1" value="body-bg-1" /><label for="bg-img1" class="radios body-image1"></label></li>
				<li><input type="radio" name="radio" id="bg-img2" value="body-bg-2" /><label for="bg-img2" class="radios body-image2"></label></li>
				<li><input type="radio" name="radio" id="bg-img3" value="body-bg-3" /><label for="bg-img3" class="radios body-image3"></label></li>
				<li><input type="radio" name="radio" id="bg-img4" value="body-bg-4" /><label for="bg-img4" class="radios body-image4"></label></li>
				<li><input type="radio" name="radio" id="bg-img5" value="body-bg-5" /><label for="bg-img5" class="radios body-image5"></label></li>
				<li><input type="radio" name="radio" id="bg-img6" value="body-bg-6" /><label for="bg-img6" class="radios body-image6"></label></li>
				<li><input type="radio" name="radio" id="bg-img7" value="body-bg-7" /><label for="bg-img7" class="radios body-image7"></label></li>
				<li><input type="radio" name="radio" id="bg-img8" value="body-bg-8" /><label for="bg-img8" class="radios body-image8"></label></li>
				<li><input type="radio" name="radio" id="bg-img9" value="body-bg-9" /><label for="bg-img9" class="radios body-image9"></label></li>
				<li><input type="radio" name="radio" id="bg-img10" value="body-bg-10" /><label for="bg-img10" class="radios body-image10"></label></li>
			</ul>
		</div>
		<div class="select-bg">
			<ul>
				<li><input type="checkbox" name="uwash-overlay" id="bg-over" value="" /> Overlay</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Color Settings -->

<div id="wrapper">
	<div class="row">
	<!--Header Section Start-->
	<header id="header" class="nav-on-top">
		<div class="header-top bg-secondary">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-9">
						<ul class="icon-list icon-primary text-white">
							<li><a href="mailto:info@domain.com"><i class="fas fa-envelope"></i> info@domain.com</a>
							</li>
							<li><a href="callto:+(241)1234567"><i class="fas fa-phone"></i> +(241) 123 4567</a>
							</li>
							<li><a href="#"><i class="far fa-clock"></i> Monday - Saturday : 9.00 am- 6:00pm (EST)</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-9">
						<div class="social-icon float-right"> 
							<a href="#" target="new"><i class="fab fa-facebook-f"></i></a> 
							<a href="#" target="new"><i class="fab fa-twitter"></i></a> 
							<a href="#" target="new"><i class="fab fa-google-plus-g"></i></a> 
							<a href="#" target="new"><i class="fab fa-linkedin-in"></i></a> 
							<a href="#" target="new"><i class="fab fa-pinterest-p"></i></a> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-header bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-expand-lg navbar-light w-100 p-0"> <a class="navbar-brand" href="index.html"><img class="nav-logo" src="images/logo/1.png" alt="Image not found"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<form action="#" method="post" class="search-from-menu animate-inout">
								<input type="search" name="search" placeholder="Type your search...">
								<span class="src-close">
										<i class="fa fa-times" aria-hidden="true"></i>
								</span>
							</form>
						  <ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
							  <ul class="dropdown-menu">
								<li><a class="dropdown-item" href="index.html">Home 1</a></li>
								<li><a class="dropdown-item" href="index-2.html">Home 2</a></li>
								<li><a class="dropdown-item" href="index-3.html">Home 3</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="about-us.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
							  <ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="about.html">About Us</a></li>
								  <li><a class="dropdown-item" href="awards.html">Cirtification</a></li>
								  <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li>
								  <li><a class="dropdown-item" href="history.html">Our History</a></li>
								  <li><a class="dropdown-item" href="mission.html">Our Mission</a></li>
								  <li><a class="dropdown-item" href="vission.html">Our Vission</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="service.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
							  <ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="service.html">Services</a></li>
								  <li><a class="dropdown-item" href="apartment-service.html">Apartment Cleaning</a></li>
								  <li><a class="dropdown-item" href="office-service.html">Office Cleaning</a></li>
								  <li><a class="dropdown-item" href="move-in-out-service.html">Move in out Service</a></li>
								  <li><a class="dropdown-item" href="car-service.html">Car Washing</a></li>
								  <li><a class="dropdown-item" href="renovation-service.html">Renovation Service</a></li>
								  <li><a class="dropdown-item" href="green-service.html">Green Cleaning</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="project.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
							  <ul class="dropdown-menu">
								  <li><a class="dropdown-item" href="project.html">Projects 1</a></li>
								  <li><a class="dropdown-item" href="project-2.html">Projects 2</a></li>
								  <li><a class="dropdown-item" href="single-project.html">Single Project</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
							  <ul class="dropdown-menu">
								<li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="our-team.html">Team </a>
								  <ul class="dropdown-menu">
									<li><a class="dropdown-item" href="our-team.html">Our Team</a></li>
									<li><a class="dropdown-item" href="single-profile.html">Team Profile</a></li>
								  </ul>
								</li>
								<li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Shop</a>
								  <ul class="dropdown-menu">
									<li><a class="dropdown-item" href="product-grid.html">Product Grid</a></li>
									<li><a class="dropdown-item" href="product-list.html">Product List</a></li>
									<li><a class="dropdown-item" href="single-product.html">Single Product</a></li>
									<li><a class="dropdown-item" href="cart.html">Cart</a></li>
								  </ul>
								</li>
								<li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Signin or Signup</a>
								  <ul class="dropdown-menu">
									<li><a class="dropdown-item" href="signin.html">Sign In Or Login</a></li>
									<li><a class="dropdown-item" href="signup.html">Signup Or Registration</a></li>
								  </ul>
								</li>
								<li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Extra Pages</a>
								  <ul class="dropdown-menu">
									<li><a class="dropdown-item" href="element.html">Element Page</a></li>
									<li><a class="dropdown-item" href="grids.html">All Grids System</a></li>
								  </ul>
								</li>
								<li><a class="dropdown-item" href="condition.html">Terms and Condition</a></li>
								<li><a class="dropdown-item" href="career.html">Career</a></li>
								<li><a class="dropdown-item" href="quote.html">Quote</a></li>
								<li><a class="dropdown-item" href="faq.html">FAQ</a></li>
								<li><a class="dropdown-item" href="404.html">404</a></li>
							  </ul>
							</li>
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
							  <ul class="dropdown-menu">
								<li><a class="dropdown-item" href="blog.html">Blog</a></li>
								<li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
							  </ul>
							</li>
							<li class="nav-item"> <a class="nav-link" href="contact.html">Contact</a> </li>
						  </ul>
						  <ul class="nav cart-nav">
								<li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
								<li>
									<a href="#" class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					  </nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--Header Section End-->
 <!--Page Banner Start-->
<section class="full-row text-center overlay-secondary page-banner py-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">Testimonial</h2>
				<ul class="page-banner-link text-white">
					<li><a href="index.html">Home /</a></li>
					<li><a href="#">Auout Us /</a></li>
					<li><a href="#">Testimonial</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
 <!--Page Banner End--> 

<!--Testimonial Page Start-->
<section class="full-row bg-white py-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar-one">
			<div class="widget">
				  <ul class="other-service text-black">
					<li><a href="history.html">Our History</a></li>
					<li><a href="mission.html">Our Mission</a></li>
					<li><a href="vission.html">Our Vission</a></li>
					<li><a href="awards.html">Certification</a></li>
					<li class="active"><a href="testimonial.html">Testimonial</a></li>
					<li><a href="career.html">Career</a></li>
					<li><a href="faq.html">F.A.Q</a></li>
				  </ul>
			  </div>
          <div class="widget mt-30">
            <h4 class="inner-title down-line">Brochure</h4>
            <div class="brochure-info text-black-a text-uppercase pt-2"> 
				<div class="btn-download mt-3"> <a class="btn btn-primary" href="#"><i class="far fa-file-pdf mr-2"></i>Service Bruchure PDF</a> </div>
				<div class="btn-download"> <a class="btn btn-primary" href="#"><i class="far fa-file-pdf mr-2"></i>Download Form DOC</a> </div>
			</div>
          </div>
        </div>
      </div>
			<div class="col-lg-9">
				<div class="bg-off-white p-30">
					<h4 class="title mb-30 line-primary">Clients Testimonial and Feedback</h4>
					<div class="row">
						<div class="col-md-12">
							<div class="testimonial-item">
								<div class="testimonial-author m-0 pb-30"> <img class="circle" src="images/author.png" alt="Image not found!"> </div>
								<div class="testimonial-detail bg-white p-3 full-row">
									<div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
									<h6 class="text-capitalize">Steven Lucas</h6>
									<div class="testimonial-author-designation">CEO Unicoder Group</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="testimonial-item">
								<div class="testimonial-author m-0 pb-30"><img class="circle" src="images/testimonials/1.jpg" alt="Image not found!"></div>
								<div class="testimonial-detail bg-white p-3 full-row">
									<div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
									<h6 class="text-capitalize">Astian Flakelar</h6>
									<div class="testimonial-author-designation">CEO Unicoder Group</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="testimonial-item">
								<div class="testimonial-author m-0 pb-30"> <img class="circle" src="images/testimonials/2.jpg" alt="Image not found!"> </div>
								<div class="testimonial-detail bg-white p-3 full-row">
									<div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
									<h6 class="text-capitalize">Benjamin Chomley</h6>
									<div class="testimonial-author-designation">CEO Unicoder Group</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<div class="testimonial-item">
								<div class="testimonial-author m-0 pb-30"> <img class="circle" src="images/testimonials/3.jpg" alt="Image not found!"> </div>
								<div class="testimonial-detail bg-white p-3 full-row">
									<div class="text-area"><p>Nulla. Accumsan non phasellus vulputate. Turpis sollicitudin nibh cubilia, habitasse in urna dolor commodo scelerisque montes vitae. Mi eros non mauris placerat lorem ullamcorper magnis Eleifend libero mus habitasse habitasse purus suscipit faucibus suscipit ligula lorem taciti lobortis dignissim fames.</p></div>
									<h6 class="text-capitalize">Lucas Crompton</h6>
									<div class="testimonial-author-designation">CEO Unicoder Group</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12 text-center">
							<nav aria-label="...">
							  <ul class="pagination pagination d-table mx-auto mt-5">
								<li class="page-item disabled">
								  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item active" aria-current="page">
								  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
								</li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								  <a class="page-link" href="#">Next</a>
								</li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Testimonial Page End-->

<!--Footer Section Start-->
<footer class="full-row">
	<div class="py-70 text-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<a href="index.html">
						<img class="logo-bottom" src="images/logo/2.png" alt="Image not found!"></a>
						<div class="widget widget-text">
							<div class="widget-content">
								<p>Molestie mi nam proin vitae fringilla interdum inceptos donec elementum consequat gravida dui habitant pulvinar Praesent metus vulputate mauris adipiscing. Dignissim consectetuer class iaculis dapibus nonummy. Primis libero urna curabitur hymenaeos pede nam. Mauris parturient sollicitudin fusce.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="widget quick-link">
							<h4 class="widget-title text-white">Quick Links</h4>
							<div class="widget-content">	
								<ul class="text-gray-a">
									<li><a href="#">Freequently Ask Question</a>
									</li>
									<li><a href="#">History Of Our Company</a>
									</li>
									<li><a href="#">Uwash Professional Services</a>
									</li>
									<li><a href="#">Terms and Conditions</a>
									</li>
									<li><a href="#">Our Working Hours</a>
									</li>
									<li><a href="#">Payment System & Process</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="widget get-in-touch">
							<h4 class="widget-title text-white">Get In Touch</h4>
							<div class="widget-content">
								<ul class="icon-primary text-gray-a">
									<li>
										<h6 class="inner-title text-white"><i class="fas fa-map-marker-alt mr-2"></i>Office Address</h6>
										<p>1707 Orlando Central Pkwy Ste 100 Orlando, FL</p>
									</li>
									<li>
										<h6 class="inner-title text-white"><i class="fas fa-phone mr-2"></i>Call us 24/7</h6>
											<a href="callto:+(241)1234567">+(241) 123 4567</a><br>
											<a href="callto:+(291)1238167"> +(291) 123 8167</a>
									</li>
									<li>
										<h6 class="inner-title text-white"><i class="fas fa-envelope mr-2"></i> Email Adress</h6>
										<p><a href="mailto:info@domain.com">info@domain.com</a>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget">
						<div class="widget business-our">
							<h4 class="widget-title text-white">Business Hour</h4>
							<div class="widget-content">
								<p>Proin proin montes senectus tellus senectus at. Penatibus scelerisque nunc pellentesque fusce ante curae.</p>
								<ul class="mt-30">
									<li>Monday - Friday : <label class="float-right text-white">9.00am - 5.00pm</label></li>
									<li>Saturday : <label class="float-right text-white">9.00am - 2.00pm</label></li>
									<li>Sunday :<label class="float-right text-white">Closed</label></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="newsletter bg-black py-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5">
					<div class="newsletter-left d-flex text-white">
						<label class="mr-2 text-uppercase">follow us :</label>
						<div class="social-icon"> 
							<a href="#" target="new"><i class="fab fa-facebook-f"></i></a> 
							<a href="#" target="new"><i class="fab fa-twitter"></i></a> 
							<a href="#" target="new"><i class="fab fa-google-plus-g"></i></a> 
							<a href="#" target="new"><i class="fab fa-vimeo-v"></i></a> 
							<a href="#" target="new"><i class="fab fa-linkedin-in"></i></a> 
							<a href="#" target="new"><i class="fab fa-pinterest-p"></i></a> 
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-7">
					<div class="newsletter-right text-white">
						<div class="d-flex float-right">
							<label class="mr-2 text-uppercase">Newsletter Subscribe :</label>
							<form class="newsletter-form">
								<input class="form-control text-gray" type="text" placeholder="Email Address" name="email"/>
								<input class="btn btn-primary" type="submit" value="Send" name="submit"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center text-gray bg-dark py-3"> Copyright 2017 © all rights by Unicoder </div>
</footer>
</div>
</div>
<!--Footer Section End--> 


<!-- All Javascript Plugin File here --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src='js/revolution.addon.slicey.min8a54.js?ver=1.0.0'></script>
<script src="js/revolution.addon.particles.min4bf4.js?ver=1.0.3"></script>
<script src="js/popper-1.14.7.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<!--tab gallery section--> 
<script src="js/mixitup.js"></script>

<script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>

<script src="js/jquery.cookie.js"></script>
<script src="js/settings.js"></script>
<script src="js/custom.js"></script>

<!-- use for map style --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9elt0rwxavbdmLzvKE8nbHtrfxpshzmo"></script>
<script src="js/map.scripts.js"></script> 
</body> 

<!-- Mirrored from unicoderbd.com/template/uwash/testimonial.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 15:49:51 GMT -->
</html>