<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs') %>

<body class="page-load">


<div id="wrapper">
	<div class="row">
	<!--Header Section Start-->
<%- include('partials/header.ejs') %>
	<!--Header Section End--> 

 <!--Page Banner Start-->
<section class="full-row text-center overlay-secondary page-banner py-70">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-primary">Our Values</h2>
				<ul class="page-banner-link text-white">
					<li><a href="/">Home /</a></li>
					<li><a href="/about">About Us /</a></li>
					<li><a >Values</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
 <!--Page Banner End--> 

<!--Testimonial Page Start-->
<!--Certification Page Start-->
<section class="full-row bg-white py-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar-one">
			<div class="widget">
				  <ul class="other-service">
					<li class="active"><a >Our Values</a></li>
					<li><a href="/our-mission">Our Mission</a></li>
					<li><a href="/our-vision">Our Vision</a></li>
					
					<!-- <li><a href="faq.html">F.A.Q</a></li> -->
				  </ul>
			  </div>
          <!-- <div class="widget mt-30">
            <h4 class="inner-title down-line">Brochure</h4>
            <div class="brochure-info text-uppercase pt-2"> 
				<div class="btn-download mt-3"> <a class="btn btn-primary" href="#"><i class="far fa-file-pdf mr-2"></i>Service Bruchure PDF</a> </div>
				<div class="btn-download"> <a class="btn btn-primary" href="#"><i class="far fa-file-pdf mr-2"></i>Download Form DOC</a> </div>
			</div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-9">
        <div class="bg-off-white p-30">
			<h4 class="title down-line mb-3">Our Values</h4>
			<div class="text-area"><p>At CrownEdge Cleaning Service, our values are the foundation of everything we do. They guide our actions, shape our culture, and reflect our unwavering commitment to delivering top-tier service with integrity and care. These principles define how we interact with our clients, care for the environment, and treat every space we touch.</p></div>
			<ul class="history-list my-3">
				<li>
					<!-- <span class="text-primary">2016 - 2017</span> -->
					<h5 class="title down-line">Integrity</h5>
					<div class="text-area d-inline-block"><p>We believe in doing the right thing—even when no one is watching. Every interaction, decision, and service is delivered with honesty, transparency, and a strong sense of accountability.</p></div>
				</li>
				<li>
					<h5 class="title down-line">Excellence</h5>
					<div class="text-area d-inline-block"><p>We don't settle for average. Our team is driven by a passion for perfection, ensuring that every job—big or small—is completed to the highest standards of cleanliness and professionalism.</p></div>
				</li>
				<li>
					<h5 class="title down-line">Customer Focus</h5>
					<div class="text-area d-inline-block"><p>Our clients are the heart of our business. We listen to your needs, tailor our services to your preferences, and go the extra mile to ensure your satisfaction every step of the way.</p></div>
				</li>
				<li>
					<h5 class="title down-line">Sustainability</h5>
					<div class="text-area d-inline-block"><p>Caring for your space also means caring for the planet. We use eco-friendly cleaning solutions and sustainable practices that protect your health and reduce our environmental impact.</p></div>
				</li>
				<li>
					<h5 class="title down-line">Respect</h5>
					<div class="text-area d-inline-block"><p>AWe value the trust you place in us. That’s why we treat your property, your time, and every member of our team with the utmost respect, ensuring a positive and professional experience from start to finish.</p></div>
				</li>
			</ul>
		</div>
      </div>
    </div>
  </div>
</section>
<!--Testimonial Page End--> 

<!--Footer Section Start-->
<%- include('partials/footer.ejs') %>
</div>
</div>
<!--Footer Section End--> 


<!-- All Javascript Plugin File here --> 
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src='js/revolution.addon.slicey.min8a54.js?ver=1.0.0'></script>
<script src="js/revolution.addon.particles.min4bf4.js?ver=1.0.3"></script>
<script src="js/popper-1.14.7.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="js/YouTubePopUp.jquery.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/owl.js"></script>
<script src="js/validate.js"></script>
<script src="js/wow.js"></script>
<!--tab gallery section--> 
<script src="js/mixitup.js"></script>

<script type="text/javascript" src="js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>

<script src="js/jquery.cookie.js"></script>
<script src="js/settings.js"></script>
<script src="js/custom.js"></script>

<!-- use for map style --> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9elt0rwxavbdmLzvKE8nbHtrfxpshzmo"></script>
<script src="js/map.scripts.js"></script> 
</body> 

<!-- Mirrored from unicoderbd.com/template/uwash/history.php by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Aug 2025 15:49:51 GMT -->
</html>